
@{
    ViewData["Title"] = "About";
}

<h1>About</h1>
<p>Jag heter Hugo och är 20 år och har precis gått ut Teknik 4 på NTI Gymnasiet i Skövde med inriktning mot programmering. På min fritid spelar jag dataspel, trummor och på sommaren gillar jag att paddla kanot och göra andra båt relaterade saker. </p>


