
@{
    ViewData["Title"] = "Projects";
}

<h1>Projects</h1>
<a href="https://github.com/huggeman23/Hangman.git">Hangman</a><p>a game of hang man made using c#</p>
<a href="https://github.com/huggeman23/jsGame.git">jsGame</a><p>web based Sokuban</p>
<a href="https://github.com/huggeman23/Tutorial.git">Tutorial</a><p>calculator in c#</p>


