@using Mvc_1.Models
@model fevCalc
@{
    ViewData["Title"] = "Fever";
}

<h1>Fever</h1>
<h2>@Model.message</h2>

   @using (Html.BeginForm("Fever", "Doctor", FormMethod.Post))
{
     <input type="number" name="temp">
        <input type="submit" value="submit" name="submit">
}

